#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;/*width*/
    height: 30px;/*height*/
    line-height: 30px;/*height of single line of text*/
    border-radius: 3px;/*slightly rounded corners*/
    border: none;
    margin: 0 0 0 20px;/*20 px margin on the left*/
    padding: 0 8px;/*8 px padding on left and right sides*/
    cursor: pointer;/*changes pointer to hand when hovered*/
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none; /* no borders*/
    border-radius: 3px;/*slightly rounded corners*/
    outline: none;/* removes the highlight that browser add when input is clicked*/
    height: 30px;/*fixed height*/
    line-height: 30px;
    padding: 0 10px;/* adds 10 pixels of space on left and right sides,so text doesnt touch the edges*/
    background-color: rgba(240, 240, 240, 1);/*default background color*/
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover { /*when the input box is hovered*/
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {/*when the input box is focused*/
    border: none;
    background-color: rgba(255, 255, 255, 1);
}