#app {
    height: 100vh;
    text-align: center;
}

#logo {
    display: block;
    width: 50%;
    height: 50%;
    margin: auto;
    padding: 10% 0 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-origin: content-box;
}

.result {
    height: 20px;
    line-height: 20px;
    margin: 1.5rem auto;
}

.input-box .btn {
    width: 60px;
    height: 30px;
    line-height: 30px;
    border-radius: 3px;
    border: none;
    margin: 0 0 0 20px;
    padding: 0 8px;
    cursor: pointer;
}

.input-box .btn:hover {
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color: #333333;
}

.input-box .input {
    border: none;
    border-radius: 3px;
    outline: none;
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    background-color: rgba(240, 240, 240, 1);
    -webkit-font-smoothing: antialiased;
}

.input-box .input:hover {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}

.input-box .input:focus {
    border: none;
    background-color: rgba(255, 255, 255, 1);
}
.error{
    background-color: #ffcccc;
    color: #a00;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}
.file-list{
    list-style: none;
    padding: 0;
    text-align: left;
    max-width: 800px;
    margin: 20px auto;
}
.file-list li{
    padding: 10px 12px;
    border-bottom: 1px solid #333;
    cursor: pointer;
    display: grid;
    grid-template-columns: 20px 1fr auto auto;
    align-items: center;
    gap: 15px;
    font-family: monospace;
}
.file-list li:hover{
    background-color: #3a3a3a;
}
.file-name{
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.file-size{
    width: 100px;
    text-align: right;
    color: #aaa;
}
.file-modtime{
    width: 200px;
    text-align: right;
    color: #aaa;
}
.nav-bar{
    display: flex;
    max-width: 600px;
    margin: 10px auto;
    gap: 10px;
}
.nav-bar button{
    padding: 8px 12px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.nav-bar button:hover{
    background-color: #777;
}
.nav-bar input{
    flex-grow: 1;
    background-color: #222;
    border: 1px solid #444;
    color: #eee;
    padding: 8px;
    border-radius: 5px;
    font-family: monospace;
}
.icon{
    width: 20px;
    text-align: center;
}